<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JdbcenvSetup</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.soumya.servlet.DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/initialize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseServlet</display-name>
    <servlet-name>CloseServlet</servlet-name>
    <servlet-class>com.soumya.servlet.CloseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseServlet</servlet-name>
    <url-pattern>/close</url-pattern>
  </servlet-mapping>
</web-app>